
.icon-fme_random:before { content: '\e800'; } /* '' */
.icon-fme_role_animal_tagging:before { content: '\e801'; } /* '' */
.icon-fme_role_condor_egg:before { content: '\e802'; } /* '' */
.icon-fme_role_greatest_bounty_hunter:before { content: '\e803'; } /* '' */
.icon-fme_role_protect_legendary_animal:before { content: '\e804'; } /* '' */
.icon-fme_role_round_up:before { content: '\e805'; } /* '' */
.icon-fme_role_supply_train:before { content: '\e806'; } /* '' */
.icon-fme_role_wildlife_photographer:before { content: '\e807'; } /* '' */
.icon-fme_role_wreckage:before { content: '\e808'; } /* '' */
.icon-fme_wild_animal_kills:before { content: '\e809'; } /* '' */
.icon-fme_archery:before { content: '\e80a'; } /* '' */
.icon-fme_dead_drop:before { content: '\e80b'; } /* '' */
.icon-fme_fishing_challenge:before { content: '\e80c'; } /* '' */
.icon-fme_golden_hat:before { content: '\e80d'; } /* '' */
.icon-fme_hot_property:before { content: '\e80e'; } /* '' */
.icon-fme_king_of_the_castle:before { content: '\e80f'; } /* '' */
.icon-fme_king_of_the_rail:before { content: '\e810'; } /* '' */
.icon-fme_penned_in:before { content: '\e811'; } /* '' */